.bb {
  text-align: center;
  font-size: 43px;
  font-weight: 700;
  padding-top: 450px;
  font-family: unset;
  color: greenyellow;
}
.bb ::before {
  opacity: 0;
}
.bb:hover {
  color: white;
  cursor: pointer;
}
.share {
  margin: auto;
  font-size: 30px;
  font-weight: 600;
  font-family: revert;
  letter-spacing: -2px;
}
.content {
  height: 258px;
  margin: 20px 20px;
  padding: 20px;
  background-color: #3f3f3f0f;
}
.ic {
  color: green;
  font-size: 60px;
  padding: 31px 0;
  margin: auto;
}
