.sec3f {
  background-color: #3f3f3f0f;
  height: 100%;
}
.meet {
  font-size: 4.2rem;
  padding-top: 194px;
  font-weight: 900;
  color: #433939;
}
.dolor {
  font-size: 20px;
  margin: 20px;
  font-weight: 700;
  padding: 28px 0px;
}
.wwin {
  height: 560px;
  background-color: white;
}
.iimage {
  width: 90%;
}
.anna {
  color: #3a4149;
  font-weight: 700;
  font-size: 2.9rem;
  padding-top: 20px;
}
