.sec2a{
    height: 400px;
}
.mm{
    padding-top: 80px;
}
.faci{
    font-size: 25px;
    color: #39da6b;
}
.ip{
    text-align: center;
    font-size: 26px;
    padding-top: 45px;
    /* opacity: 1; */
    font-weight:lighter;
}